{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<center>
<h2>Welcome</h2>

<p>SMS SPAMMER</p><br>
    <form name="otpForm" action="sent" method="post">
        <label>PHONE NUMBER</label><br>
        <input type="text" class="form-control" name="mess"><br>
        <label>LIMIT</label><br>
        <input type="text" class="form-control" name="limit"><br>
        <label>TIME</label><br>
        <input type="text" class="form-control" name="sleep"><br>
        <button class="btn btn-primary" type="submit">SEND</button>
    </form>
    <div id="progress"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('update', function(data) {
            document.getElementById('progress').innerText = data.message;
        });

        document.getElementById('otpForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);
            fetch('/sent', {
                method: 'POST',
                body: formData,
            });
        });
    </script>
{% endblock %}
